src/android/.project
src/android/.gradle
src/android/.settings/org.eclipse.buildship.core.prefs
src/ios/_Lib/PECropRectView.h
src/ios/_Lib/PECropRectView.m
src/ios/_Lib/PECropView.h
src/ios/_Lib/PECropView.m
src/ios/_Lib/PECropViewController.h
src/ios/_Lib/PECropViewController.m
src/ios/_Lib/PEResizeControl.h
src/ios/_Lib/PEResizeControl.m
src/ios/_Lib/UIImage+PECrop.h
src/ios/_Lib/UIImage+PECrop.m
src/ios/_Lib/PEPhotoCropEditor.bundle/PEPhotoCropEditorBorder.png
src/ios/_Lib/PEPhotoCropEditor.bundle/PEPhotoCropEditorBorder@2x.png
src/ios/_Lib/PEPhotoCropEditor.bundle/en.lproj/Localizable.strings
src/ios/_Lib/PEPhotoCropEditor.bundle/it.lproj/Localizable.strings
src/ios/_Lib/PEPhotoCropEditor.bundle/ja.lproj/Localizable.strings
src/ios/_Lib/en.lproj/Localizable.strings
src/ios/_Lib/it.lproj/Localizable.strings
